<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Parser</title>
  </head>
  <body>
    <h1>Upload</h1>
    <form action='/upload' method="POST" enctype="multipart/form-data">
      <input  type="file" name="upload" />
      <button type='submit'>Enviar</button>
    </form>
  </body>
</html>
